body {
  background-color: white;
  font-family: Arial;
}

#main-container {
  margin: 150px auto;
  width: 600px;
}

table {
  background-color: white;
  text-align: left;
  width: 100%;
}

th,
td {
  padding: 3;
}

thead {
  background-color: green;
  color: white;
}

td {
  background-color: greenyellow;
}
